In [1]:
import pandas as pd

In [13]:
df=pd.read_csv("train_f.csv")

In [14]:
X = df.drop('label', axis=1)
y = df['label']

In [15]:

df['label'].value_counts()

label
0    41123
4    14881
5    11465
7     4637
6     2478
3     2112
8      860
1      423
2      361
9       97
Name: count, dtype: int64

In [16]:
import numpy as np

In [17]:
#Apply SMOTE to training data
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)
X_r, y_r = smote.fit_resample(X, y)

In [18]:
y_r.value_counts()

label
4    41123
5    41123
0    41123
6    41123
7    41123
3    41123
1    41123
2    41123
8    41123
9    41123
Name: count, dtype: int64

In [19]:
# Combine into one DataFrame
df_resampled = pd.concat([pd.DataFrame(X_r, columns=X.columns),pd.DataFrame(y_r, columns=['label'])],axis=1)

df_shuffled = df_resampled.sample(frac=1, random_state=42).reset_index(drop=True)

# Save to CSV
df_shuffled.to_csv("train.csv", index=False)

In [20]:
df_shuffled.head()

,sttl,smean,ct_dst_src_ltm,ct_state_ttl,ct_srv_src,sload,tcprtt,dmean,service,rate,...,dinpkt,dttl,dur,sjit,sinpkt,djit,dpkts,ct_dst_ltm,spkts,label
0,0.996078,0.082656,0.000000,0.166667,0.000000,4.549705e-06,0.044490,0.151578,0.000000,0.000039,...,0.001106,0.992126,1.251914e-02,0.002113,5.236979e-04,0.000333,0.001093,0.00,0.001768,4
1,0.243137,0.037280,0.000000,0.166667,0.016129,1.473021e-06,0.057186,0.105508,0.416667,0.000025,...,0.001573,0.992126,1.148663e-02,0.002856,9.076230e-04,0.000562,0.000729,0.00,0.000936,3
2,0.996078,0.048780,0.078125,0.333333,0.065209,1.478077e-02,0.000000,0.000000,0.000000,0.110634,...,0.000000,0.000000,1.507156e-07,0.000000,1.071800e-07,0.000000,0.000000,0.02,0.000104,1
3,0.243137,0.033371,0.031250,0.166667,0.032258,7.813401e-07,0.059487,0.084190,0.416667,0.000015,...,0.002564,0.992126,2.310060e-02,0.005825,1.570490e-03,0.000778,0.000911,0.00,0.001092,1
4,0.996078,0.019648,0.437037,0.333333,0.451135,9.487695e-03,0.000000,0.000000,0.166667,0.124588,...,0.000000,0.000000,1.338273e-07,0.000000,9.516998e-08,0.000000,0.000000,0.08,0.000104,6

In [21]:
#check for dupilicates
print("Train duplicates:", df_shuffled.duplicated().sum())

Train duplicates: 0

In [22]:
#check for dupilicates
print("Train duplicates:", X_r.duplicated().sum())

Train duplicates: 0