In [14]:
import pandas as pd
df=pd.read_csv("traint.csv")

In [15]:
dfv=pd.read_csv("trainv.csv")
dft=pd.read_csv("pretest_dataset.csv")

In [16]:
print(df.columns.tolist())

['dur', 'proto', 'service', 'state', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'sttl', 'dttl', 'sload', 'dload', 'sloss', 'dloss', 'sinpkt', 'dinpkt', 'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'dwin', 'tcprtt', 'synack', 'ackdat', 'smean', 'dmean', 'trans_depth', 'response_body_len', 'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm', 'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'is_ftp_login', 'ct_ftp_cmd', 'ct_flw_http_mthd', 'ct_src_ltm', 'ct_srv_dst', 'is_sm_ips_ports', 'label']

In [17]:
# Separate features and target
X = df.drop('label', axis=1)
y = df['label']

In [18]:
X.head()

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports
0,0.024038,0.856061,0.750000,0.25,0.004264,0.002005,0.002397,0.000125,0.000044,0.243137,...,0.00,0.00,0.0,0.015625,0.0,0.0,0.000000,0.000000,0.016393,0.0
1,0.011929,0.856061,0.000000,0.25,0.003224,0.001458,0.002183,0.000058,0.000066,0.996078,...,0.04,0.04,0.0,0.093750,0.0,0.0,0.000000,0.033898,0.098361,0.0
2,0.028006,0.856061,0.000000,0.25,0.000936,0.000729,0.000106,0.000024,0.000010,0.996078,...,0.00,0.00,0.0,0.015625,0.0,0.0,0.000000,0.016949,0.016393,0.0
3,0.000300,0.856061,0.000000,0.25,0.001560,0.001640,0.000117,0.000112,0.001832,0.121569,...,0.16,0.10,0.0,0.078125,0.0,0.0,0.000000,0.169492,0.098361,0.0
4,0.009269,0.856061,0.416667,0.25,0.001144,0.002187,0.000066,0.001538,0.000063,0.243137,...,0.00,0.00,0.0,0.000000,0.0,0.0,0.033333,0.016949,0.000000,0.0

In [19]:
# Separate features and target
Xt = dft.drop('label', axis=1)
yt = dft['label']

In [20]:
# Separate features and target
Xv = dfv.drop('label', axis=1)
yv = dfv['label']

In [21]:
import numpy as np
from sklearn.ensemble import RandomForestClassifier
import pickle

In [22]:
#check for dupilicates
print("Train duplicates:", df.duplicated().sum())

Train duplicates: 0

In [23]:
#check for dupilicates
print("Train duplicates:", X.duplicated().sum())

Train duplicates: 0

In [24]:
"id" in X.columns

False

In [26]:
import numpy as np
import pandas as pd

def correlation_filter(X, threshold=0.9):

    corr_matrix = X.corr().abs()

    # Track columns to drop
    dropped_features = set()
    
    # Iterate through correlation matrix
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if (corr_matrix.iloc[i, j] >= threshold) and (corr_matrix.columns[j] not in dropped_features):
                # Drop the current feature
                col_to_drop = corr_matrix.columns[i]
                dropped_features.add(col_to_drop)
    
    # Create new dataframe with remaining features
    X_filtered = X.drop(columns=list(dropped_features), errors='ignore')

    
    print(f"Correlation threshold: {threshold}")
    print(f"Dropped {len(dropped_features)} highly correlated features.")
    print(f"Remaining features: {X_filtered.shape[1]}")
    print(f" New feature set:\n{list(X_filtered.columns)}")

    return X_filtered, list(dropped_features)


X_cf, dropped = correlation_filter(X, threshold=0.9)

Correlation threshold: 0.9
Dropped 10 highly correlated features.
Remaining features: 32
 New feature set:
['dur', 'proto', 'service', 'state', 'spkts', 'dpkts', 'rate', 'sttl', 'dttl', 'sload', 'dload', 'sinpkt', 'dinpkt', 'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'tcprtt', 'smean', 'dmean', 'trans_depth', 'response_body_len', 'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm', 'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'is_ftp_login', 'ct_flw_http_mthd', 'ct_src_ltm']

In [27]:
#check for dupilicates
print("Train duplicates:", X_cf.duplicated().sum())

Train duplicates: 320

In [32]:
IMPORTANCE_THRESHOLD = None
TOP_K=20

In [ ]:
#from sklearn.feature_selection import SelectKBest, chi2

In [29]:
print(X_cf.shape[1])

32

In [50]:
#selector = SelectKBest(score_func=chi2, k=70)
#X_selected = selector.fit_transform(X_cf, y)

In [51]:
#print(X_new)

In [ ]:
#selected_features = X_cf.columns[selector.get_support()]

In [ ]:
#print(selected_features)

Index(['dur', 'proto', 'service', 'state', 'spkts', 'dpkts', 'rate', 'sttl',
       'dttl', 'sload', 'dload', 'sinpkt', 'dinpkt', 'sjit', 'djit', 'stcpb',
       'dtcpb', 'tcprtt', 'smean', 'dmean', 'trans_depth', 'response_body_len',
       'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm', 'is_ftp_login',
       'ct_flw_http_mthd', 'ct_src_ltm'],
      dtype='object')

In [30]:
#random forest feature importance
rf = RandomForestClassifier(random_state=42, n_jobs=-1)
rf.fit(X_cf, y)

importances = pd.Series(rf.feature_importances_, index=X_cf.columns).sort_values(ascending=False)
print("Top 10 features by RF importance:")
print(importances.head(10))

Top 10 features by RF importance:
sttl              0.096479
smean             0.078450
ct_dst_src_ltm    0.056668
ct_state_ttl      0.056558
ct_srv_src        0.053074
sload             0.052660
tcprtt            0.048881
dmean             0.047832
service           0.043616
rate              0.043193
dtype: float64

In [31]:
sf=X_cf.columns

In [33]:
if IMPORTANCE_THRESHOLD is not None:
    selected_features = importances[importances >= IMPORTANCE_THRESHOLD].index.tolist()
    print(f"Selected {len(selected_features)} features by importance threshold >= {IMPORTANCE_THRESHOLD}")
elif TOP_K is not None:
    selected_features = importances.head(TOP_K).index.tolist()
    print(f"Selected top {len(selected_features)} features by RF importance (TOP_K={TOP_K})")
else:
    # fallback - keep all (not recommended)
    selected_features = sf.tolist()

Selected top 20 features by RF importance (TOP_K=20)

In [34]:
import joblib

In [35]:
joblib.dump(selected_features, "selected_features.pkl")

['selected_features.pkl']

In [36]:
X_train = X_cf[selected_features]

In [38]:
#check for dupilicates
print("Test duplicates:", X_train.duplicated().sum())

Test duplicates: 2395

In [39]:

duplicates_mask = X_train.duplicated(keep='first')

In [40]:
X_train = X_train[~duplicates_mask].reset_index(drop=True)

In [41]:
y = y[~duplicates_mask].reset_index(drop=True)

In [42]:
# Combine into one DataFrame
df_sel_train = pd.concat([X_train,
                          pd.DataFrame(y, columns=['label'])],
                         axis=1)

# Save to CSV
#df_sel_train.to_csv("train_f.csv", index=False)

In [43]:
df_sel_train.head()

,sttl,smean,ct_dst_src_ltm,ct_state_ttl,ct_srv_src,sload,tcprtt,dmean,service,rate,...,dinpkt,dttl,dur,sjit,sinpkt,djit,dpkts,ct_dst_ltm,spkts,label
0,0.243137,0.483062,0.015625,0.166667,0.016129,2.813311e-05,0.018277,0.056927,0.750000,0.000044,...,0.001187,0.992126,0.024038,0.002052,0.000417,0.000397,0.002005,0.00,0.004264,4
1,0.996078,0.580623,0.093750,0.166667,0.112903,5.122795e-05,0.037424,0.036351,0.000000,0.000066,...,0.000745,0.992126,0.011929,0.001452,0.000274,0.000279,0.001458,0.04,0.003224,5
2,0.996078,0.075881,0.015625,0.166667,0.032258,9.994088e-07,0.097777,0.030178,0.000000,0.000010,...,0.003916,0.992126,0.028006,0.007158,0.002212,0.001460,0.000729,0.00,0.000936,5
3,0.121569,0.046070,0.078125,0.000000,0.193548,1.070702e-04,0.000237,0.062414,0.000000,0.001832,...,0.000018,0.114173,0.000300,0.000049,0.000014,0.000007,0.001640,0.16,0.001560,0
4,0.243137,0.031165,0.000000,0.166667,0.000000,1.952992e-06,0.042485,0.644033,0.416667,0.000063,...,0.000347,0.992126,0.009269,0.002414,0.000599,0.007626,0.002187,0.00,0.001144,4

In [44]:
#check for dupilicates
print("Train duplicates:", df_sel_train.duplicated().sum())
df_no_duplicates = df_sel_train.drop_duplicates(keep='first')
#Save to CSV
df_no_duplicates.to_csv("train_f.csv", index=False)

Train duplicates: 0

In [45]:
selected_features=joblib.load("selected_features.pkl")

In [46]:
X_test_selected = Xt.reindex(columns=selected_features)

In [48]:
print("Test duplicates:", X_test_selected.duplicated().sum())

Test duplicates: 1875

In [49]:

duplicates_mask = X_test_selected.duplicated(keep='first')

In [50]:
X_test_selected = X_test_selected[~duplicates_mask].reset_index(drop=True)

In [52]:
yt = yt[~duplicates_mask].reset_index(drop=True)

In [53]:
X_trainv_selected = Xv.reindex(columns=selected_features)

In [54]:
print("Duplicates:", X_trainv_selected.duplicated().sum())

Duplicates: 240

In [55]:

duplicates_mask = X_trainv_selected.duplicated(keep='first')

In [56]:
X_trainv_selected = X_trainv_selected[~duplicates_mask].reset_index(drop=True)

In [57]:
yv = yv[~duplicates_mask].reset_index(drop=True)

In [58]:
# Combine into one DataFrame
df_sel_test = pd.concat([X_test_selected,
                          pd.DataFrame(yt, columns=['label'])],
                         axis=1)

In [59]:
#check for dupilicates
print("Test duplicates:", df_sel_test.duplicated().sum())
df_no_duplicates = df_sel_test.drop_duplicates(keep='first')
#Save to CSV
df_no_duplicates.to_csv("test_f.csv", index=False)

Test duplicates: 0

In [60]:
# Combine into one DataFrame
df_sel_trainv = pd.concat([X_trainv_selected,
                          pd.DataFrame(yv, columns=['label'])],
                         axis=1)

In [61]:
#check for dupilicates
print("Trainv duplicates:", df_sel_trainv.duplicated().sum())
df_no_duplicates = df_sel_trainv.drop_duplicates(keep='first')
#Save to CSV
df_no_duplicates.to_csv("trainv_f.csv", index=False)

Trainv duplicates: 0

In [62]:
df=pd.read_csv("train_f.csv")

In [63]:
#check for dupilicates
print("Train duplicates:", df.duplicated().sum())

Train duplicates: 0

In [64]:
df.head()

,sttl,smean,ct_dst_src_ltm,ct_state_ttl,ct_srv_src,sload,tcprtt,dmean,service,rate,...,dinpkt,dttl,dur,sjit,sinpkt,djit,dpkts,ct_dst_ltm,spkts,label
0,0.243137,0.483062,0.015625,0.166667,0.016129,2.813311e-05,0.018277,0.056927,0.750000,0.000044,...,0.001187,0.992126,0.024038,0.002052,0.000417,0.000397,0.002005,0.00,0.004264,4
1,0.996078,0.580623,0.093750,0.166667,0.112903,5.122795e-05,0.037424,0.036351,0.000000,0.000066,...,0.000745,0.992126,0.011929,0.001452,0.000274,0.000279,0.001458,0.04,0.003224,5
2,0.996078,0.075881,0.015625,0.166667,0.032258,9.994088e-07,0.097777,0.030178,0.000000,0.000010,...,0.003916,0.992126,0.028006,0.007158,0.002212,0.001460,0.000729,0.00,0.000936,5
3,0.121569,0.046070,0.078125,0.000000,0.193548,1.070702e-04,0.000237,0.062414,0.000000,0.001832,...,0.000018,0.114173,0.000300,0.000049,0.000014,0.000007,0.001640,0.16,0.001560,0
4,0.243137,0.031165,0.000000,0.166667,0.000000,1.952992e-06,0.042485,0.644033,0.416667,0.000063,...,0.000347,0.992126,0.009269,0.002414,0.000599,0.007626,0.002187,0.00,0.001144,4